*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif; 
}


.container-imagens
{
   position: relative;
}

.imgagem-celular{
    height: 520px;
    position: absolute;
    left: 153px;
    top: 26px;
    transition: opacity 0.2s;
}


.img-celular {
    width: 450px;
}

.container-formulario {
    display: flex;
    flex-direction: column;
    border: 1px solid #DBDBDB;
    background: #FFFFFF;
    padding: 50px 40px 20px 40px;
   border-radius: 5px;
   width: 350px;
}

.insta-logo {
    margin-bottom: 20px;
}

input {
    height: 36px;
    outline: none;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 10px;
    color: #262626;
    font-size: 12px;
    background: #FAFAFA;
}

button {
    height: 30px;
    background: #0095F6;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}

.login-facebook {
    color: #385185;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px; 
}

.esqueci-senha {
    color: #385185;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

